# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:password@localhost:5432/ncfi-prayer"

NEXT_PUBLIC_FIREBASE_API_KEY = "AIzaSyCqU8HRiG_aDnTmL-_Zm4_6L9O62x03Aik"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN = "ncfi-prayer-71a01.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID = "ncfi-prayer-71a01"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET = "ncfi-prayer-71a01.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "871581659411"
NEXT_PUBLIC_FIREBASE_APP_ID = "1:871581659411:web:24a123392317073c7d6ae6"
NEXT_PUBLIC_MEASUREMENT_ID = "G-NTMRQ2Q6ME"